.transition {
    transition-property: opacity, transform;
}

.ease-out {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-in {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.duration-300 {
    transition-duration: 300ms;
}

.opacity-0 {
    opacity: 0;
}

.transform {
    transform: scale(0.9);
}

.opacity-100 {
    opacity: 1;
}

.scale-100 {
    transform: scale(1);
}

.scale-90 {
    transform: scale(0.9);
}
